@import "tailwindcss";
.something::before {
  content: "";
  position: absolute;
  left: -25rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  height: 7%;
  right: 100%;
}
.something::after {
  content: "";
  position: absolute;
  right: -25rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  height: 7%;
  left: 100%;
}
